DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rightsave
API_BACKEND_PORT=4002
REDIS_URL=redis://localhost:6379
NODE_ENV=development
JWT_ACCESS_SECRET=change-me-access-secret
FRONTEND_URL=http://localhost:3000
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=rightsave
KAFKA_SSL=false
IG_APP_SECRET=efverjgvekfnsdkjwef
IG_VERIFY_TOKEN=ewjkfvkjefvkjdsdjewkj

MISTRAL_API_KEY=
MISTRAL_CHAT_MODEL=mistral-small-latest
MISTRAL_EMBED_MODEL=mistral-embed
TAVILY_API_KEY=