POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=justsave
POSTGRES_PORT=5432

REDPANDA_ENVIRONMENT=development
KAFKA_PORT=9092
REDPANDA_CONSOLE_PORT=8080

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=rightsave
KAFKA_SSL=false